{% extends "base.html" %}

{% block content %}
<style>
    input{
        margin-top: 1vh;
    }
    a{
        text-decoration: none;
    }
</style>
    <nav class="navbar navbar-dark bg-info">
        <div class="container justify-content-between">
            <div class="navbar-brand">PG</div>


        </div>
        
    </nav>

    
        {% for message in messages %}
        <div class="alert alert-secondary text-info">
            <p class="text-center">{{message}}</p>
        </div>
        {% endfor %}
    
    <form method="post" action="{% url 'signup' %}" style="width: fit-content;margin-top: 20vh;padding: 6vh 6vh;" class="container bg-info">
        {% csrf_token %}
        <h1 class="text-center">Sign Up Here</h1>
        <br>
        <input type="text" placeholder="username" name="username" id="" class="form-control text-center" required>
        <input type="password" placeholder="password" name="password" id="" class="form-control text-center" required>
        <input type="password" placeholder="re-enter password" name="password2" id="" class="form-control text-center" required>
        <br>
        <div class="container" style="width: fit-content;">
            <input type="submit" value="sign up" class="btn btn-light">
        </div>

        <p class="text-light">already have an account ? <a class="text-success" href="{% url 'loginpage' %}">login</a> here</p>
        
    </form>
{% endblock %}