{% extends 'navbar.html' %}
{% block content %}

<form method="post" action="/staff/{{staff.id}}/edit/save/" style="width: fit-content;margin-top: 20vh;padding: 6vh 6vh;" class="container bg-primary">
    {% csrf_token %}
    <h1 class="text-center">Edit Here</h1>
    <br>
    <input type="text" placeholder="name" value="{{staff.name}}" name="name" id="" class="form-control text-center" required>
    <br>
    <input type="text" placeholder="salary" value="{{staff.salary}}" name="salary" id="" class="form-control text-center" required>
    
    <br>
    <div class="container" style="width: fit-content;">
        <input type="submit" value="edit" class="btn btn-light">
    </div>

   
    
</form>

{% endblock %}